<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zytiger.apollo.demo.service.dal.local.mapper.TokenDOMapper">

    <resultMap id="BaseResultMap" type="com.zytiger.apollo.demo.service.dal.local.dataobject.TokenDO">

        <result column="NUM" property="num" jdbcType="VARCHAR"
                javaType="String"/>

        <result column="UID" property="uid" jdbcType="VARCHAR"
                javaType="String"/>

        <result column="TIME" property="time" jdbcType="VARCHAR"
                javaType="String"/>

        <result column="MONEY" property="money" jdbcType="VARCHAR"
                javaType="String"/>
    </resultMap>


    <sql id="Base_Column_List">
    `NUM`,`UID`,`TIME`,`MONEY`
    </sql>


    <!--insert:TOKEN-->
    <insert id="insert">
        INSERT INTO TOKEN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null">`NUM`,</if>
            <if test="uid != null">`UID`,</if>
            <if test="time != null">`TIME`,</if>
            <if test="money != null">`MONEY`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null">#{num,jdbcType=VARCHAR},</if>
            <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
            <if test="time != null">#{time,jdbcType=VARCHAR},</if>
            <if test="money != null">#{money,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
</mapper>
